<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        body{
            margin: 10px;
        }
        .btn{
            margin: 13px;
        }
        .alert{
            margin: 5px;
        }
    </style>
    <title>History</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="col-9 display-4 ">Search History</h1>
        <div class="col-3">
            <form action="/logout" method="get">
                <button type="submit" class="btn btn-outline-secondary">Logout</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <a role="button" id="search_page" href="/" class="col-12 col-md-3 btn btn-outline-info">Search Page</a>
        <a role="button" id="history_page" href="#" class="col-12 col-md-3 btn btn-info" style="cursor: default" disabled>History Page</a>
    </div>
    <form action="/clear" method="get">
        <div class="row justify-content-center">
            <button type="submit" class="col-12 col-md-3 btn btn-outline-danger">Clear History</button>
        </div>
    </form>
    <div class="row justify-content-center">
        <div class="card col-12 col-md-6" style="background-color: #E5F0FF;text-align: center;">
            <span style="margin: 5px;" class="display-4" th:text="|${usersHistory.size() == 0 ? 'No History' : 'Top 10'}|"></span>
            <ol id="history_ol">
                <li style="margin: 5px;" th:each="user : ${usersHistory}">
                    <p>
                        <a th:href="${user.getLink()}">
                            <span th:text="${user.getName()}"></span>
                        </a>:
                        <span th:text="${user.getCounter()}"></span>
                    </p>
                </li>
            </ol>
        </div>
    </div>
</div>
</body>
</html>